.swiper {
    width: 80%;
    height: 80%;
    padding-bottom: 30px;
  }
  
#prf .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 100%;
    display: flex;
    width: 200px !important;
  } 

  .swiper {
    width: 100%;
  }

  @media (max-width: 640px) {
    /* Below the small breakpoint (640px), make width full */
    #prf .swiper-slide {
      width: 50% !important;
    }
  }